<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenue sur Altic !{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/customFonts.css') }}">
        {% endblock %}
    </head>
    <header>
    	{% block header %}

    	<div>

    		<div class="container">

<<<<<<< HEAD
<<<<<<< HEAD
                
                <div class="row align-items-center">

                    <div class="col-sm-2"><a class="display-1">Altic</h1></a></div>

                    <div class="col-sm-7"><p class="h3">Apprenez les tables de multiplication avec le pingouin Célestin</p></div>
                    
                </div>
=======
    			
    			<div class="row align-items-center" style="position: fixed; box-shadow: 5px 10px 18px #888888; z-index: 10; background-color: white; left: 0px;">

    				<div class="col-sm-2"><a style="color: black; text-decoration: none;" href="/"><h1 style="font-family: 'adam';" class="display-1">Altic</h1></a></div>

    				<div class="col-sm-7"><p style="font-family: 'roboto';" class="h3">Apprenez les tables de multiplication avec le pingouin Célestin</p></div>
>>>>>>> parent of feb49bd... Mise en place du thème Sketchy sur certains headers

    				<div class="col-sm-1">
                            <a href="{{path('app_register')}}">Créer un compte</a>
    				</div>
    				
    			</div>

    		
    		</div>

=======
    			
    			<div class="row align-items-center" style="position: fixed; box-shadow: 5px 10px 18px #888888; z-index: 10; background-color: white; left: 0px;">

    				<div class="col-sm-2"><a style="color: black; text-decoration: none;" href="/"><h1 style="font-family: 'adam';" class="display-1">Altic</h1></a></div>

    				<div class="col-sm-7"><p style="font-family: 'roboto';" class="h3">Apprenez les tables de multiplication avec le pingouin Célestin</p></div>

    				<div class="col-sm-1">
                            <a href="{{path('app_register')}}">Créer un compte</a>
    				</div>
    				
    			</div>

    		
    		</div>

>>>>>>> parent of feb49bd... Mise en place du thème Sketchy sur certains headers
    	</div>

    	{% endblock %}
    </header>
    <body>
        {% block body %}

        <!--line break-->
        <div>
        <br/>
        </div>

        {% endblock %}
        {% block javascripts %}

        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>


        {% endblock %}
    </body>
</html>
