<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/customFonts.css') }}">
        {% endblock %}
    </head>
    <header>
    	{% block header %}

    	<div>

    		<div class="container">

    			
    			<div class="row align-items-center" style="position: fixed; box-shadow: 5px 10px 18px #888888; z-index: 10; background-color: white; left: 0px;">

    				<div class="col-sm-2"><a style="color: black; text-decoration: none;" href="/"><h1 class="display-1">Altic</h1></a></div>

    				<div class="col-sm-7"><p class="h3">Apprenez les tables de multiplication avec le pingouin Célestin</p></div>

                    <div class="col-sm-1">
                    {% if profilePic != 'default' %}
                        <img src="{{ asset('images/pupil/characters/' ~ profilePic) }}" class="img-thumbnail"></div>
                    {% else %}
                        <img src="{{ asset('images/utility/icons/defaultProfilePic.png') }}" class="img-thumbnail"></div>
                    {% endif %}
    				<div class="col-sm-2">
                        {% if userName != '' %}
    					   <a href="{{ path('altic_pupil') }}"><p>{{userName}}</p></a>
    					   <a href="/logout">Déconnexion</a>
                           <a href="/modifyAccount"><img style="height: 20px; width: auto;" src="{{ asset('images/utility/icons/cog.png') }}"></a>
                        {% endif %}
    				</div>
    				
    			</div>

    		
    		</div>

    	</div>

    	{% endblock %}
    </header>
    <body>
        {% block body %}

        <!--line break-->
        <div style="height: 200px;">
        <br/>
        </div>

        {% endblock %}
        {% block javascripts %}

        <script type="text/javascript" src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script> 
        <script type="text/javascript" src="{{ asset('js/popper.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>


        {% endblock %}
    </body>
</html>
