{% extends 'base.html.twig' %}

{% block title %} Choisis ton avatar {% endblock %}

{% block body %}

{{ parent() }}

{#{{ dump(gameData) }}#}

<div class="container">
	<!--go back-->
	<div class="row">
		<a href="{{ path('altic_pupilTable', {number:tableNumber,island:regionName}) }}">
			<p>Revenir à la table</p>
			<img style="max-width: 20%;" src="{{ asset('images/pupil/map/tableMap.png') }}">
		</a>
	</div>
	<div class="row">
		<!--results-->
		<div class="col-9">
			<div class="col-9">
				<div class="row">
					<div class="row">
						<h4>Tu as mis {{ timeElapsed }} secondes pour finir cet entraînement.</h4>
					</div>
				</div>
				{#{ dump(givenAnswers) }#}
				<div class="jumbotron">
				{% for question in questions %}
					{% set currentGivenAnswer = givenAnswers[loop.index0] %}
					<div class="row">
						<h4>{{ question[0] }} x {{ question[1] }} = 
						{% if currentGivenAnswer != question[0] * question[1] %}
							<h4 style="color: red;"> {{ currentGivenAnswer }} La bonne réponse était {{ question[0] * question[1] }}</h4>
						{% else %}
							<h4 style="color: green;">{{ currentGivenAnswer }}</h4>
						{% endif %}
						</h4>
					</div>
				{% endfor %}
				</div>
			</div>
		</div>
		<br>
		<!--play paths-->
		<div class="col-3">
			<div class="row">
				{% if nbRightAnswers >= 9 %}
				<h2>Bravo, tu as {{ nbRightAnswers }} bonnes réponses !</h2>
					{% if localLevel == 12 %}
					<h2> Tu as réussi à libérer le prisonnier ! Bien joué !</h2>
					{% endif %}
				{% else %}
				<h2>Tu as {{ nbRightAnswers }} bonnes réponses. Il faut encore faire des efforts, courage !</h2>
				{% endif %}
				<img class="img-fluid" src="{{ asset('images/pupil/characters/' ~ mainCharacter) }}">
			</div>
			<br>
			<div class="row">
				<div class="col">
					<a href="{{ path('altic_pupilTraining', {tableNumber:tableNumber, levelNumber:globalLevel, mapName:maps[localLevel - 1]|split('.')[0], avatarImage:avatarImg|split('.')[0]}) }}">
						<button type="button" class="btn btn-outline-info">Rejouer</button>
					</a>
				</div>
				<div class="col">
					{% if (nbRightAnswers >= 9 or bCanPlay[globalLevel + 1] == true) and localLevel < 12 %}
						<a href="{{ path('altic_pupilTraining', {tableNumber:tableNumber, levelNumber:globalLevel + 1, mapName:maps[localLevel]|split('.')[0], avatarImage:avatarImg|split('.')[0]}) }}">
							<button type="button" class="btn btn-outline-success">Niveau suivant</button>
						</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
	<br>
	<br>
</div>

{% endblock %}