{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container">
	<!--map and Constantin-->
	{% set labels = ['Imoc', 'Isia', 'Vorod', 'Elemia', 'Rania', 'Pona', 'Nesa', 'Sovia', 'Caguma', 'Belam', 'Will'] %}
	{% set numOrder = [2, 5, 10, 1, 4, 3, 0, 6, 8, 9, 7] %}
	<div class="row align-items-center"  style="padding: 10px; background-image: url({{ asset('images/pupil/map/sea.png') }});">
		<!--map-->
		<div class="col-9">
			<div class="row align-items-center">
			<div class="row">
				{% for i in 1..6 %}
				<div class="col text-center">
<<<<<<< HEAD
					<a href="{{ path('altic_pupilTable', {number:numOrder[i-1],island:labels[i-1]}) }}" style="color: white; font-size: 1.5em;"><img style="padding: 10px;" class="img-fluid" src="{{ asset('images/pupil/map/' ~ i ~ '_.png') }}">{{ labels[i-1] }} ({{ numOrder[i-1] }})</a>
=======
					<a href="{{ path('altic_pupilTable', {number:numOrder[i-1]}) }}" style="color: white; font-size: 1.5em;">
					<img style="padding: 10px;" class="img-fluid" src="{{ asset('images/pupil/map/' ~ i ~ '_.png') }}">
					{% if hallOfTrophy[numOrder[ i-1 ]] %}
					<img style="max-height: 100px; max-width: 100px;padding: 10px;" class="img-fluid" src="{{ asset('images/pupil/characters/' ~ numOrder[i-1] ~ '.png') }}">
					{% else %}
					<img style="max-height: 100px; max-width: 100px;padding: 10px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-o-filter: grayscale(100%);-ms-filter: grayscale(100%);filter: grayscale(100%);" class="img-fluid" src="{{ asset('images/pupil/characters/' ~ numOrder[i-1] ~ '.png') }}">
					{% endif %}
					{{ labels[i-1] }} ({{ numOrder[i-1] }})
					 </a>
					
>>>>>>> revisionDeLinterfaceDaccueilEleve
				</div>
				{% endfor %}
			</div>
			<div class="row">
				{% for i in 7..11 %}
				<div class="col text-center">
<<<<<<< HEAD
					<a href="{{ path('altic_pupilTable', {number:numOrder[i-1],island:labels[i-1]}) }}" style="color: white; font-size: 1.5em;"><img style="padding: 10px;" class="img-fluid" src="{{ asset('images/pupil/map/' ~ i ~ '_.png') }}">{{ labels[i-1] }} ({{ numOrder[i-1] }})</a>
=======
					<a href="{{ path('altic_pupilTable', {number:numOrder[i-1]}) }}" style="color: white; font-size: 1.5em;">
					<img style="padding: 10px;" class="img-fluid" src="{{ asset('images/pupil/map/' ~ i ~ '_.png') }}">
					{% if hallOfTrophy[numOrder[ i-1 ]] %}
					<img style="max-height: 100px; max-width: 100px;padding: 10px;" class="img-fluid" src="{{ asset('images/pupil/characters/' ~ numOrder[i-1] ~ '.png') }}">
					{% else %}
					<img style="max-height: 100px; max-width: 100px;padding: 10px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-o-filter: grayscale(100%);-ms-filter: grayscale(100%);filter: grayscale(100%);" class="img-fluid" src="{{ asset('images/pupil/characters/' ~ numOrder[i-1] ~ '.png') }}">
					{% endif %}
				<div scope="row">
					{{ labels[i-1] }} ({{ numOrder[i-1] }})
				</div>

					</a>
>>>>>>> revisionDeLinterfaceDaccueilEleve
				</div>
				{% endfor %}
			</div>
			</div>
		</div>
		<!--Constantin-->
		<div class="col-3">
			<h4 style="color: white; font-weight: bold;">Bonjour, je suis Constantin ! {{ advice1 }}. {{ advice2 }}</h4 style="font-weight: bold;">
			<img class="img-fluid" src="{{ asset('images/pupil/characters/constantin.png') }}">
		</div>
	</div>

	<br/>

    <!--stats-->
	<div style="font-family: 'roboto'; font-weight: bold;" class="row align-items-top">
		<div class="col-sm-4 jumbotron">
			<p class="h5">Rois</p>
			{% for trophy,isDone in hallOfTrophy %}
			<div class="row">
				{% if isDone%}
				<div class="col">
					<img style="max-height: 100px; max-width: 100px;" src="{{ asset('images/pupil/characters/'~trophy~'.png') }}">
				</div>
				<div class="col">
					Liberé<br/><br/>
				</div>
				{% else %}
				<div class="col">
					<img style="max-height: 100px; max-width: 100px;-webkit-filter: grayscale(100%);-moz-filter: grayscale(100%);-o-filter: grayscale(100%);-ms-filter: grayscale(100%);filter: grayscale(100%);" src="{{ asset('images/pupil/characters/'~trophy~'.png') }}">
				</div>
				<div class="col">
					Emprisonné<br/><br/>
				</div>
				{% endif %}
			</div>
			{% endfor %}
		</div>
		<div class="col-sm-4 jumbotron"><p class="h5">Progression</p>
		Parties jouées : {{percentArray[12]}} <br>
		Durée totale de jeu : {{percentArray[13]}}h {{percentArray[14]}}mins <br>
		Progression Totale : {{ percentArray[0]}}%
		<div class="progress">
		<div class="progress-bar bg-info" role="progressbar" style="width: {{ percentArray[0] }}%" aria-valuenow="{{ percentArray[0] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>

		Table de 0 - Maîtrisée à {{ percentArray[7]}}%
		{% if percentArray[7]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[7] }}%" aria-valuenow="{{ percentArray[7] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[7]>25 and percentArray[7]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[7] }}%" aria-valuenow="{{ percentArray[7] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[7]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[7] }}%" aria-valuenow="{{ percentArray[7] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 1 - Maîtrisée à {{ percentArray[4]}}%
		{% if percentArray[4]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[4] }}%" aria-valuenow="{{ percentArray[4] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[4]>25 and percentArray[4]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[4] }}%" aria-valuenow="{{ percentArray[4] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[4]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[4] }}%" aria-valuenow="{{ percentArray[4] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 2 - Maîtrisée à {{ percentArray[1]}}%
		{% if percentArray[1]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[1] }}%" aria-valuenow="{{ percentArray[1] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[1]>25 and percentArray[1]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[1] }}%" aria-valuenow="{{ percentArray[1] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[1]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[1] }}%" aria-valuenow="{{ percentArray[1] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 3 - Maîtrisée à {{ percentArray[6]}}%
		{% if percentArray[6]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[6] }}%" aria-valuenow="{{ percentArray[6] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[6]>25 and percentArray[6]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[6] }}%" aria-valuenow="{{ percentArray[6] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[6]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[6] }}%" aria-valuenow="{{ percentArray[6] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 4 - Maîtrisée à {{ percentArray[5]}}%
		{% if percentArray[5]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[5] }}%" aria-valuenow="{{ percentArray[5] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[5]>25 and percentArray[5]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[5] }}%" aria-valuenow="{{ percentArray[5] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[5]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[5] }}%" aria-valuenow="{{ percentArray[5] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 5 - Maîtrisée à {{ percentArray[2]}}%
		{% if percentArray[2]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[2] }}%" aria-valuenow="{{ percentArray[2] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[2]>25 and percentArray[2]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[2] }}%" aria-valuenow="{{ percentArray[2] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[2]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[2] }}%" aria-valuenow="{{ percentArray[2] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 6 - Maîtrisée à {{ percentArray[8]}}%
		{% if percentArray[8]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[8] }}%" aria-valuenow="{{ percentArray[8] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[8]>25 and percentArray[8]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[8] }}%" aria-valuenow="{{ percentArray[8] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[8]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[8] }}%" aria-valuenow="{{ percentArray[8] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 7 - Maîtrisée à {{ percentArray[11]}}%
		{% if percentArray[11]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[11] }}%" aria-valuenow="{{ percentArray[11] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[11]>25 and percentArray[11]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[11] }}%" aria-valuenow="{{ percentArray[11] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[11]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[11] }}%" aria-valuenow="{{ percentArray[11] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 8 - Maîtrisée à {{ percentArray[9]}}%
		{% if percentArray[9]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[9] }}%" aria-valuenow="{{ percentArray[9] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[9]>25 and percentArray[9]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[9] }}%" aria-valuenow="{{ percentArray[9] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[9]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[9] }}%" aria-valuenow="{{ percentArray[9] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 9 - Maîtrisée à {{ percentArray[10]}}%
		{% if percentArray[10]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[10] }}%" aria-valuenow="{{ percentArray[10] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[10]>25 and percentArray[10]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[10] }}%" aria-valuenow="{{ percentArray[10] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[10]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[10] }}%" aria-valuenow="{{ percentArray[10] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}

		Table de 10 - Maîtrisée à {{ percentArray[3]}}%
		{% if percentArray[3]<=25 %}
		<div class="progress">
		<div class="progress-bar bg-danger" role="progressbar" style="width: {{ percentArray[3] }}%" aria-valuenow="{{ percentArray[3] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[3]>25 and percentArray[3]<75 %}
		<div class="progress">
		<div class="progress-bar bg-warning" role="progressbar" style="width: {{ percentArray[3] }}%" aria-valuenow="{{ percentArray[3] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		{% if percentArray[3]>=75 %}
		<div class="progress">
		<div class="progress-bar bg-success" role="progressbar" style="width: {{ percentArray[3] }}%" aria-valuenow="{{ percentArray[3] }}" aria-valuemin="0" aria-valuemax="100"></div>
		</div><br>
		{% endif %}
		</div>

		<div class="col-sm-4"><p class="h5">Mes enseignants</p>
		
	<!--ajoutEnseignant-->
	<ul class="list-group">
	{% set i = 0 %}
	{% for teacher in teacherLynx %}
		{% set i = i + 1 %}
		<li class="list-group-item d-flex justify-content-between align-items-center">
			{{ teacher.email }}
			<a class="badge badge-primary badge-pill" href="removeTeacher/{{teacher.id}}">supprimer</a>
		</li>
	{% endfor %}
	{% if i == 0 %}
		<h4 style="color: white;">Aucun enseignant ne te suit !</h4>
	{% endif %}
	</ul>
	<br><br>
	{{form_start(addTeacher)}}
		{{form_row(addTeacher.email)}}
		<button class="btn btn-lg btn-primary" type="submit">Ajouter un enseignant</button>
	{{form_end(addTeacher)}}{% for label, messages in app.flashes(['success', 'warning']) %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-warning">
        	<button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
</div>
		</div>

	</div>

{% endblock %}