{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container">


	<div class="row">
		
		<div class="col-sm-4 align-self-end"><a href="/pupil">Retour à la carte <br/> <img src="{{ asset('images/pupil/map/tmpMap.png') }}"> </a></div>

		<div class="col-sm-4 align-self-center"><p class="h3">Table de {{tableNumber}}</p></div>

	</div>

	<br/>

	<div class="row">

		<div class="col">
			<img class="img-fluid" src="{{ asset('images/pupil/map/scrollTexture.png') }}">
		</div>

	</div>


</div>

{% endblock %}