{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container" style="font-family: 'roboto';">


	<div class="row">
		
		<div class="col-sm-4 align-self-end"><a href="/pupil">Retour à la carte <br/> <img style="max-height: 100px; width: auto;" src="{{ asset('images/pupil/map/worldMap.png') }}"> </a></div>

		<div class="col-sm-4 align-self-center"><p style="text-align: center;" class="h3">Table de {{tableNumber}}</p></div>

	</div>

	<br/>

	<div class="row">
		{% for i in 0..(images|length - 1) / 2 %}
		<a href="{{ path('altic_choiceAvatar', {
			tableNumber: tableNumber,
			levelNumber: levelsNumbers[i],
			mapName: images[i]|split('.')[0]
		}) }}">
			<img style="max-width: 150px;" class="img-thumbnail" src="{{ asset('images/pupil/map/' ~ images[i]) }}">
		</a>
		{% endfor %}
	</div>
	<div class="row">
		{% for i in images|length / 2..images|length - 1 %}
		<a href="{{ path('altic_choiceAvatar', {
			tableNumber: tableNumber,
			levelNumber: levelsNumbers[i],
			mapName: images[i]|split('.')[0]
		}) }}">
			<img style="max-width: 150px;" class="img-thumbnail" src="{{ asset('images/pupil/map/' ~ images[i]) }}">
		</a>
		{% endfor %}
	</div>

	<script type="text/javascript">
		$(function () {
			$('#map').css('background-size', $('#map').width() + 'px ' + (Number($('#map').height()) + 500) + 'px');
		});
	</script>


</div>

{% endblock %}