{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container" style="font-family: 'roboto';">


	<div class="row">
		
		<div class="col-sm-4 align-self-end"><a href="/pupil">Retour à la carte <br/> <img style="max-height: 100px; width: auto;" src="{{ asset('images/pupil/map/tmpMap.png') }}"> </a></div>

		<div class="col-sm-4 align-self-center"><p style="text-align: center;" class="h3">Table de {{tableNumber}}</p></div>

	</div>

	<br/>

	<div class="row" style="background-image: url({{ asset('images/pupil/map/scrollTexture.png') }})">

		<div class="col"></div>
		<div class="col">
			{% for i in 0..11 %}
			{% if images[i] != 'startMAP.png' and images[i] != 'endMAP.png' and bCanPlay[i-1] == true %}
				<a href="{{path('altic_choiceAvatar', {tableNumber:tableNumber,levelNumber:1})}}">
					<img style="max-height: 200px;" src="{{ asset('images/pupil/map/' ~ images[i]) }}">
				</a>
			{% else %}
				<img style="max-height: 200px;" src="{{ asset('images/pupil/map/' ~ images[i]) }}">
			{% endif %}
			{% endfor %}
		</div>
		<div class="col"></div>

	</div>


</div>

{% endblock %}