{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container" style="font-family: 'roboto';">


	<div class="row">
		
		<div class="col-sm-4 align-self-end"><a href="/pupil">Retour à la carte <br/> <img style="max-height: 100px; width: auto;" src="{{ asset('images/pupil/map/worldMap.png') }}"> </a></div>

		<div class="col-sm-4 align-self-center">
			<p style="text-align: center;" class="h3">{{ island }}, table de {{tableNumber}}</p>
			<h4>Clique sur la carte dans laquelle tu veux t'entraîner !</h4>
		</div>

	</div>

	<br/>

	<div class="row">
		{% for i in 0..(images|length - 1) / 2 %}
		<div class="col-2">
		{% if bCanPlay[i] == true %}
		<a href="{{ path('altic_choiceAvatar', {
			tableNumber: tableNumber,
			levelNumber: levelsNumbers[i],
			mapName: images[i]|split('.')[0]
		}) }}">
			<img id="playable{{ i }}" style="width: 150px;  height: 150px;" class="img-thumbnail" src="{{ asset('images/pupil/games/maps/' ~ images[i]) }}">
		</a>
		{% else %}
		<img title="Tu n'as pas encore débloqué cette carte !" style="width: 150px;  height: 150px; filter: grayscale(100%);" class="img-thumbnail" src="{{ asset('images/pupil/games/maps/' ~ images[i]) }}">
		{% endif %}
		</div>
		{% endfor %}
	</div>
	<div class="row">
		{% for i in images|length / 2..images|length - 1 %}
		<div class="col-2">
		{% if bCanPlay[i] == true %}
		<a href="{{ path('altic_choiceAvatar', {
			tableNumber: tableNumber,
			levelNumber: levelsNumbers[i],
			mapName: images[i]|split('.')[0]
		}) }}">
			<img id="playable{{ i }}" style="width: 150px; height: 150px;" class="img-thumbnail" src="{{ asset('images/pupil/games/maps/' ~ images[i]) }}">
		</a>
		{% else %}
		<img title="Tu n'as pas encore débloqué cette carte !" style="width: 150px;  height: 150px; filter: grayscale(100%);" class="img-thumbnail" src="{{ asset('images/pupil/games/maps/' ~ images[i]) }}">
		{% endif %}
		</div>
		{% endfor %}
	</div>


</div>

{% endblock %}