{% extends 'base.html.twig' %}

{% block title %} Bienvenue, {{ userName }} {% endblock %}

{% block body %}

{{ parent() }}

<div class="container" style="font-family: 'roboto';">


	<div class="row">
		
		<div class="col-sm-4 align-self-end"><a href="/pupil">Retour à la carte <br/> <img style="max-height: 100px; width: auto;" src="{{ asset('images/pupil/map/worldMap.png') }}"> </a></div>

		<div class="col-sm-4 align-self-center"><p style="text-align: center;" class="h3">Table de {{tableNumber}}</p></div>

	</div>

	<br/>

	<div id="map" class="row" style="background-image: url({{ asset('images/pupil/map/scrollTexture.png') }})">

		<div class="col"></div>
		<div class="col">

			<img id="avatar" src="{{ asset('images/pupil/characters/' ~ profilePic) }}" style="position: absolute; z-index: 3; max-height: 3%;">

			{% for i in 0..12 %}
			{% if images[i] != 'startMAP.png' and images[i] != 'endMAP.png' and bCanPlay[i-1] == true %}
				{% set urlFriendlyImg = images[i]|split('.') %}
				<a id="mapLink{{ i }}" href="{{ path('altic_choiceAvatar', {
					tableNumber:tableNumber,levelNumber:levelsNumbers[i-1],mapName:urlFriendlyImg[0]
				}) }}">
					<img style="max-height: 200px;" src="{{ asset('images/pupil/map/' ~ images[i]) }}">
				</a>
				<script type="text/javascript" src="{{ asset('js/jquery-3.3.1.slim.min.js') }}"></script> 
				<script type="text/javascript">
					$(function () {
						
						let imgHeight = $('#mapLink1 img').height();
						
						$('#avatar').css({
							left: '40%',
							top: {{ i }} * imgHeight
						});

					});
				</script>
			{% else %}
				<img style="max-height: 200px;" src="{{ asset('images/pupil/map/' ~ images[i]) }}">
			{% endif %}
			{% endfor %}
		</div>
		<div class="col"></div>

		<script type="text/javascript">
			$(function () {
				$('#map').css('background-size', $('#map').width() + 'px ' + (Number($('#map').height()) + 150) + 'px');
				//alert($('#map').width() + ' ' + $('#map').height());
			});
		</script>

	</div>


</div>

{% endblock %}